:root{
    --sky-blue: #1B6FDB;
    --deep-sky: #023175;
    --sky-mist: #E8F1FC;
    --mentor-gold: #F59E0B;
    --gold-mist: #FEF3C7;
    --progress: #10B981;
    --dark-ink: #111827;
    --cloud-gray: #6B7280;
    --horizon-white: #F9FAFB;
    --main-font: 'Sora', sans-serif;
    --body-font: 'Inter', sans-serif;
}

*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--horizon-white);
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--deep-sky);
    padding: 1rem 5%;
    position: sticky;
    max-height: 10vh;
    width: 100vw;
}

.logo{
    width: 15vw;
    height: auto;
}

.nav-links{
    display: flex;
    list-style: none;
}

.nav-links li{
    margin-left: 2rem;
}

.nav-links a{
    color: var(--horizon-white);
    text-decoration: none;
    font-size: 1.1rem;
    transition: color 0.3s ease;
    font-family: var(--main-font);
}

.nav-links a:hover{
    color: var(--mentor-gold);
}

.hero{
    text-align: center;
    padding: 2rem 5%;
    font-family: var(--main-font);
}

.hero h1{
    font-size: 3rem;
    margin-bottom: 1.25rem;
    color: var(--dark-ink);
}

.hero p{
    color: var(--cloud-gray);
}

.main-cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    padding: 2rem 5%;
}

.card{
    font-family: var(--main-font);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    padding: 2rem;
    background-color: var(--sky-mist);
}

.card:hover{
    transform: scale(1.1);
}

.card h2{
    font-weight: 600;
}

.card img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.card p{
    color: var(--cloud-gray);
}

